id: p14-lab
name: P14 SCADA Attack Simulation
subnet: 10.0.0.0/24
gateway: 10.0.0.254

roles:
  # --- OPENBAS CONTROLLER SERVER ---
    - hostname: openbas-controller
    template: debian-11-x64-server-template
    ip: 10.0.0.5
    ram: 8192 # Needs RAM for Java/Elastic
    cpus: 4
    # We will make a custom role for this later
    setup:
      - role: openbas-server


  # --- VM1: POSTE IT (Patient Zero) ---
  - hostname: P14-Poste-IT
    template: win2022-server-x64-template
    ip: 10.0.0.45
    ram: 4096
    setup:
      - role: p14-vm1
      # Install OpenBAS Agent (Optional: Remove if not needed yet)
      - role: openbas-agent-win
        vars:
          openbas_url: "http://10.0.0.5:8080" # Change to your controller IP
          agent_token: "fd724d18-3854-426d-b20b-4b92f9b9f430"

  # --- VM2: SCADA SERVER (Target) ---
  - hostname: P14-SCADA-OT
    template: win2022-server-x64-template
    ip: 10.0.0.10
    ram: 4096
    setup:
      - role: p14-vm2
      - role: openbas-agent-win
        vars:
          openbas_url: "http://10.0.0.5:8080"
          agent_token: "fd724d18-3854-426d-b20b-4b92f9b9f430"

  # --- VM5: PLC INCUBATOR ---
  - hostname: PLC1
    template: debian-11-x64-server-template
    ip: 10.0.0.80
    ram: 1024
    setup:
      - role: p14-plc
        vars:
          plc_name: "INCUBATEUR-2024"
          plc_type: "temperature"
          plc_port: 502
          # Registers: [Temp*10, Humidity, Status, Time, Unused, Alarm]
          initial_registers: "[370, 100, 1, 72, 0, 0]"

  # --- VM6: PLC CENTRIFUGE ---
  - hostname: PLC2
    template: debian-11-x64-server-template
    ip: 10.0.0.59
    ram: 1024
    setup:
      - role: p14-plc
        vars:
          plc_name: "CENTRIFUGEUSE-A"
          plc_type: "speed"
          plc_port: 502
          # Registers: [Speed, Status, Time, Temp*10, Vib, Alarm]
          initial_registers: "[3000, 1, 30, 220, 0, 0]"