version: '3'
services:
  openaev-dev-pgsql:
    container_name: openaev-dev-pgsql
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: openaev
    ports:
      - "5432:5432"
    restart: unless-stopped
  openaev-dev-minio:
    container_name: openaev-dev-minio
    image: minio/minio:RELEASE.2025-06-13T11-33-47Z
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    restart: unless-stopped
  openaev-dev-rabbitmq:
    container_name: op