ludus:
  # --- VM2: SCADA SERVER (Target) ---
  - vm_name: "{{ range_id }}-P14-SCADA-OT"
    hostname: P14-SCADA-OT
    template: win2022-server-x64-template
    vlan: 10
    ip_last_octet: 10
    ram_gb: 4
    cpus: 2
    windows:
      sysprep: false
    roles:
      - p14-vm2
    role_vars:
      openbas_url: "http://10.0.0.5:8080" # Change if needed
      agent_token: "fd724d18-3854-426d-b20b-4b92f9b9f430" # Change if needed

  # --- VM1: POSTE IT (Workstation) ---
  - vm_name: "{{ range_id }}-P14-Poste-IT"
    hostname: P14-Poste-IT
    template: win2022-server-x64-template
    vlan: 10
    ip_last_octet: 45
    ram_gb: 4
    cpus: 2
    windows:
      sysprep: false
    roles:
      - p14-vm1
    role_vars:
      openbas_url: "http://10.0.0.5:8080" # Change if needed
      agent_token: "fd724d18-3854-426d-b20b-4b92f9b9f430" # Change if needed
    
  # --- VM5: PLC INCUBATOR ---
  - vm_name: "{{ range_id }}-PLC1"
    hostname: PLC1
    template: debian-11-x64-server-template
    vlan: 10
    ip_last_octet: 80
    ram_gb: 1
    cpus: 1
    roles:
      - p14-plc
    role_vars:
      plc_name: "INCUBATEUR-2024"
      plc_type: "temperature"
      plc_port: 502
      # Registers: [Temp*10, Humidity, Status, Time, Unused, Alarm]
      initial_registers: "[370, 100, 1, 72, 0, 0]"
    
  # --- VM6: PLC CENTRIFUGE ---
  - vm_name: "{{ range_id }}-PLC2"
    hostname: PLC2
    template: debian-11-x64-server-template
    vlan: 10
    ip_last_octet: 59
    ram_gb: 1
    cpus: 1
    roles:
      - p14-plc
    role_vars:
      plc_name: "CENTRIFUGEUSE-A"
      plc_type: "speed"
      plc_port: 502
      # Registers: [Speed, Status, Time, Temp*10, Vib, Alarm]
      initial_registers: "[3000, 1, 30, 220, 0, 0]"
